
:root { 
  --primary:#0e172c ;
  --accent: #85d1ce; 
  --base: #fec7d7;
  --contrast: #f1f1e6; 
  --font:  Nunito;
}

body {
  font-family: var(--font);
  background-color: var(--base) ;
}
main {
  padding: 8%;
}

h1, h2, h3{
  color: var(--primary);
  font-weight: bold;
}

section.categories > div.row {
  display: flex;
}

section.categories > div.row > div.colunm {
  width: 50%;
  height: 100px;
  margin: 1%;
  background-color: var(--primary);
  border-radius: 15px;
  display: flex;
  padding: 2%;
}

section.categories > div.row > div.colunm > figure{
  height: 50px;
  padding: 2%;
  margin: 0%;
  border-radius: 100%;
  background-color: var(--accent);
  align-self: center;
}

section.categories > div.row > div.colunm > figure > img{
  width: 50px;
}

section.categories > div.row > div.colunm > span{
  align-self: center;
  text-align: center;
  width: 100%;
  color:  var(--contrast);
}


/****/
section.pets > div.row {
  display: flex;
  flex-wrap: wrap;
}





section.pets > div.row > div.colunm > figure{
  height: 100px;
  margin: 0%;
  border-radius: 25px;
  align-self: center;
  height: 200px; 
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;  
  margin: 10px;
  
}

section.pets > div.row > div.colunm > figure > img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  height: 100%;
}

section.pets > div.row > div.colunm > figure > span{
  align-self: end;
  z-index: 1000;
  color:  var(--contrast);
  background-color: rgba(10, 0, 0, 0.481);
  box-shadow: 40px 40px 40px 40px rgb(0, 0, 0);
  padding: 1%;
  width: 100%;
  text-align: center;
  font-size:medium;
}

section.pets > div.row > div.colunm > figure > span > p{
  margin: 0px;
  font-weight: lighter;
  font-size: small;
}

section.pets > div.row > div.colunm:nth-child(even) {
  margin-top: 5%;
}

@media (min-width: 400px) {
  section.pets > div.row > div.colunm {
    width: 50%;
    border-radius: 15px;
  }
}

@media (min-width: 750px) {
  section.pets > div.row > div.colunm {
    width: 33%;
    border-radius: 15px;
  }
}

@media (min-width: 1000px) {
  section.pets > div.row > div.colunm {
    width: 25%;
    border-radius: 15px;
  }
}

@media (min-width: 1920px) {
  section.pets > div.row > div.colunm {
    width: 20%;
    border-radius: 15px;
  }
}

